body {
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaee;
    color: #333;
    background-image: url(background.jpg);
    background-size: 100%;
    background-color: #ddd;
}

.container {
    width: 800px;
    margin: auto;
    background-color: #fff;
}

.header {
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul {
    font-size: 30px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

.header a {
    text-decoration: none;
    color: salmon;
    padding: 20px;
}

.header a:hover {
    background-color: lightskyblue;
    color: white;
}

.hero {
    height: 400px;
    background-image: url(pialadunia.png);
    background-size: cover;
    background-position: 5px -50px;
    border-top: 5px solid lightskyblue;
    border-bottom: 5px solid salmon;
}

.hero2 {
    height: 400px;
    background-image: url(esports-ed.jpg);
    background-size: cover;
    background-position: 2px -50px;
    border-top: 5px solid lightskyblue;
    border-bottom: 5px solid salmon;
}

.content,
.content2 {
    padding: 20px;
}

.content h2 {
    font-size: 28px;
    font-weight: bold;
}

.content .penulis {
    font-size: 11px;
    margin-top: -5px;
}

.content .penulis a {
    text-decoration: none;
    color: salmon;
}

.content p,
.content2 p {
    margin-bottom: 20px;
    font-size: 14px;
}

.footer {
    background-color: #333;
    padding: 20px;
}

.footer .copy {
    color: #eaeaee;
    text-align: center;
    font-size: 12px;
}