* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

img {
    width: 100%;
}

body {
    background-color: aliceblue;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}

/* header */
.header {
    display: grid;
    grid-template-areas:
        'hero hero features-1'
        'hero hero features-2';

}

.hero {
    grid-area: hero;
    min-height: 350px;
    background-image: url(./img/warteg.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.hero h2>* {
    display: none;
}

.features {
    display: grid;
    justify-content: center;
    align-content: center;
    /* place-content: center; */
    text-align: center;
    cursor: pointer;
}

.features-1 {
    /* grid-area: feature-1; */
    background-image: url(./img/th.jpeg);
    background-size: cover;
    color: white;
    display: grid;
    justify-content: center;
    align-content: center;
    /* place-content: center; */
    text-align: center;
    cursor: pointer;
}

.features-2 {
    background-image: url(./img/th\ \(1\).jpeg);
    background-size: cover;
    color: white;
    display: grid;
    justify-content: center;
    align-content: center;
    /* place-content: center; */
    text-align: center;
    cursor: pointer;
}

.features .price {
    font-size: 3em;
    font-weight: 200;

}

/* Navigation */
.menu {
    display: flex;
    background-color: rgb(79, 148, 194);
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.menu .brand {
    font-size: 1.3em;
    color: blueviolet;
}

/* .menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: white;
    grid-template-columns: repeat(auto-fit, minimax(100px, 1fr))
} */

.menu .menu-list{
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px;
    list-style: none; 
}

.menu .menu-list li a {
    color: white;
    display: flex;
    gap: 20px;
}